*{
	margin: 0;
	padding:0;
	font-family: 'Noto Sans HK', sans-serif;
}

.container {
	display: grid;
	grid-template-rows: 1fr 1fr 2fr 1fr;



	}

.nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


ul {
	grid-column-start: 4;

	

}

.navitem {
	padding-left: 30px;
	display: inline-block;
}




.top-boxes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	align-items: center;
	border: solid 1px gray;
}




.box {
	margin-left: auto;
	margin-right: auto;
}



.mid-3 {
	display:grid;
	background-image: url('bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(3, 1fr, minmax(320px,1fr));
	justify-content: center;
	align-items: center;
	grid-row-start: 3;
	grid-row-end: span 5;
	height: 400px;
	width: 100%;
	
}


input {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	height: 40%;
	width: 100%;
}

.help {
	grid-column-start: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	height: 45%;
	width:30px;
	background-color: white;

}

.help:hover {
	background-color: gray;
}

h2{
	color: white;
	grid-column-start: 2;
	justify-self: center;
}

a {
	text-decoration: none;

}


a:hover {
	color: red;
}

.bottom-boxes {
	display: grid;
	grid-template-rows: : repeat(5, 1fr, minmax(320px, 1fr));
	grid-row-gap: 40px;
	grid-column-gap: 80px;
	justify-content: center;

}

.bottom-box {
	border: 1px solid black;
	padding: 40px;
	grid-row-start: 2;
	grid-row-end:  3;
	

}

.footer-5 {
	margin-top: 20px;
	margin-bottom: 10px;
}